---
import Layout from "../layouts/Layout.astro";
import Image from 'astro/components/Image.astro'

import fotoPerfil from "../assets/imgs/fotoPerfil.webp";

import linkedlinIcon from "../assets/svg/linkedlin.svg";
import gitHubIcon from "../assets/svg/github.svg";
import fileIcon from "../assets/svg/file.svg";
import typescriptIcon from "../assets/svg/typescript.svg"
import tailwindIcon from "../assets/svg/tailwind.svg"
import javascriptIcon from "../assets/svg/javascript.svg"
import gitIcon from "../assets/svg/git.svg"
import mongoIcon from "../assets/svg/brand-mongodb.svg"
import msSqlServerIcon from "../assets/svg/brand-database.svg"
import reactIcon from "../assets/svg/brand-react.svg"
import nodeIcon from "../assets/svg/brand-nodejs.svg"
import htmlIcon from "../assets/svg/brand-html5.svg";
import cssIcon from "../assets/svg/brand-css3.svg";
import bootstrapIcon from "../assets/svg/brand-bootstrap.svg";
import astroIcon from "../assets/svg/brand-astro.svg";
import figmaIcon from "../assets/svg/brand-figma.svg";
import mailIcon from "../assets/svg/mail.svg"
import reduxIcon from "../assets/svg/brand-redux.svg"

import proyecto1 from "../assets/imgs/proyectoFunkoShop.png"
import ProjectCard from "../components/projectCard.astro";
import TechnologyCard from "../components/TechnologyCard.astro";


---
<Layout title="Portfolio Tomas Rivetta">
	<section class="mx-10 mt-5">
		<!-- GRID PRINCIPAL -->
		<div class="grid grid-cols-1 md:grid-cols-4 gap-5">
			<div class="md:col-span-2 bg-custom p-5 rounded-2xl">
	
				<div class="flex items-center space-x-5 flex-wrap">
	
					<div class="w-40 h-40 gb-gray-600 rounded-full overflow-hidden ml-4 mb-5">
	
						<Image src={fotoPerfil} alt="Foto de perfil de Tomas Rivetta" class="w-full h-full object-cover"/>						
					</div>
					<div>
						<h1 class="text-3xl font-bold text-cyan-50">Tomas Rivetta</h1>
						<p class="text-zinc-50">
							Full Stack Developer | Apasionado por la Programación
						</p>
						<p class="text-cyan-50 mt-3">
							Soy un <span class="font-bold">Full Stack Developer</span> 
							Me enfoco en crear aplicaciones robustas y escalables, utilizando React, Node.js, y bases de datos SQL y NoSQL. He trabajado en proyectos que incluyen desarrollo web, implementación de APIs y aplicaciones de escritorio. Mi formación en la UTN me ha brindado una base sólida en programación orientada a objetos y diseño de software, permitiéndome resolver problemas complejos de manera eficiente.
						</p>
						<div class="flex space-x-1 mt-3 flex-wrap">

							<a href="https://www.linkedin.com/in/tomasrivetta-fullstack/" target="_blank">
								<button class="bg-gray-700 
								hover:bg-gray-800 
								text-white font-bold py-2 px-4 rounded-full">				
									<div class="flex items-center gap-1">
										<Image src={linkedlinIcon} alt="Logo de Linkedin">
										</Image>
										<span>
											Linkedlin
										</span>
									</div>		
								</button>
							</a>

							<a href="https://github.com/TomasRivetta" target="_blank">
								<button class="bg-gray-700 
								hover:bg-gray-800 
								text-white font-bold py-2 px-4 rounded-full">
									<div class="flex items-center gap-1">
										<Image src={gitHubIcon} alt="Logo de GitHub">
										</Image>
										<span>
											GitHub
										</span>
									</div>
								</button>
							</a>


							<a href="../../public/TomasRivetta-Curriculum.pdf" target="_blank" rel="noopener noreferrer">
								<button class="bg-gray-700 
								hover:bg-gray-800 
								text-white font-bold py-2 px-4 rounded-full">
									<div class="flex items-center gap-1">
										<Image src={fileIcon} alt="Logo de GitHub">
										</Image>
										<span>
											CV
										</span>
									</div>
								</button>
							</a>

							<a href="mailto:totorivetta@gmail.com" target="_blank">
								<button class="bg-gray-700 
								hover:bg-gray-800 
								text-white font-bold py-2 px-4 rounded-full">
									<div class="flex items-center gap-1">
										<Image src={mailIcon} alt="Logo de mail">
										</Image>
										<span>
											Contactame
										</span>
									</div>
								</button>
							</a>
						

						</div>
					</div>
	
				</div>
			</div>

			<div class="md:row-span-1 md:col-span-2 bg-custom p-5 rounded-2xl">

				<h2 class="text-3xl font-bold text-cyan-50">Educacion</h2>
				<div class="mt-3">
	
					<h3 class="text-lg font-semibold text-zinc-50">UTN Universidad Tecnológica Nacional</h3>
	
					<p class="text-sm text-zinc-400">
						Ene. 2023 - Jun. 2026
					</p>
					<p class="text-sm text-zinc-400">
						Tecnico universitario en Programacion
					</p>
					<p class="text-cyan-50">
						- Lógica de Programación.<br>
						- Estructuras de datos. <br>
						- Programación orientada a objetos.
					</p>
	
				</div>

				<div class="mt-3">
	
					<h3 class="text-lg font-semibold text-zinc-50">Programa Codo A Codo</h3>
	
					<p class="text-sm text-zinc-400">
						Jun. 2023 - Nov. 2024
					</p>
					<p class="text-sm text-zinc-400">
						Full Stack Developer
					</p>
					<p class="text-cyan-50">
						- Desarrollo Web (HTML,CSS,JavaScript/Node.js).<br>
						- Desarrollo Web responsive.<br>
						- Accesibilidad web.
					</p>
	
				</div>

				<div class="mt-3">
	
					<h3 class="text-lg font-semibold text-zinc-50">Alura ONE(Oracle Next Education)</h3>
	
					<p class="text-sm text-zinc-400">
						Jul. 2022 - Ene. 2023
					</p>
					<p class="text-sm text-zinc-400">
						Full Stack Developer
					</p>
					<p class="text-cyan-50">
						- Especializado en el desarrollo web responsive.<br>
						- Accesibilidad web.
					</p>
	
				</div>
			</div>

			<div class="md:col-span-2 bg-custom p-5 rounded-2xl">

				<h2 class="text-3xl font-bold text-cyan-50">Tecnologias</h2>

				<div class="grid grid-cols-2 md:grid-cols-4 gap-5 mt-3">

					<TechnologyCard id="HTML" title="HTML" imageSrc={htmlIcon.src}/>
					<TechnologyCard id="CSS" title="CSS" imageSrc={cssIcon.src}/>
					<TechnologyCard id="JavaScript" title="JavaScript" imageSrc={javascriptIcon.src}/>
					<TechnologyCard id="Bootstrap" title="Bootstrap" imageSrc={bootstrapIcon.src}/>
					<TechnologyCard id="Tailwind" title="Tailwind" imageSrc={tailwindIcon.src}/>
					<TechnologyCard id="MS Sql Server" title="MS Sql Server" imageSrc={msSqlServerIcon.src}/>
					<TechnologyCard id="React JS" title="React JS" imageSrc={reactIcon.src}/>
					<TechnologyCard id="Redux" title="Redux" imageSrc={reduxIcon.src}/>
					<TechnologyCard id="Node JS" title="Node JS" imageSrc={nodeIcon.src}/>
					<TechnologyCard id="TypeScript" title="TypeScript" imageSrc={typescriptIcon.src}/>
					<TechnologyCard id="Git" title="Git" imageSrc={gitIcon.src}/>
					<TechnologyCard id="Mongo DB" title="Mongo DB" imageSrc={mongoIcon.src}/>
					<TechnologyCard id="Astro" title="Astro" imageSrc={astroIcon.src}/>
					<TechnologyCard id="Figma" title="Figma" imageSrc={figmaIcon.src}/>
				
				</div>

			</div>

			<div class="md:row-span-1 md:col-span-2 bg-custom p-5 rounded-2xl">

				<h2 class="text-3xl font-bold text-cyan-50">Experiencia</h2>
				<div class="mt-3">
	
					<h3 class="text-lg font-semibold text-zinc-50">Desarrollador Full Stack. Freelancer</h3>
	
					<p class="text-sm text-zinc-400">
						ene. 2024 - Actualidad
					</p>
					<p class="text-cyan-50">
						Diseño y desarrollo de aplicaciones web a medida, trabajando tanto en el frontend como en el backend. Implementación de interfaces de usuario interactivas y accesibles con React. Desarrollo de APIs RESTful utilizando Node.js y Express.
					</p>
	
				</div>
			</div>

			


		</div>



	</section>

	<section class="mx-10 mt-5 mb-5">

		<div class="bg-custom p-5 rounded-xl">
			<h2 class="text-3xl font-bold text-cyan-50">Proyectos</h2>

			<ProjectCard 
			id="1" 
			title="Funkoshop" 
			imageSrc={proyecto1.src}
			description="El proyecto FunkoshopCaC-Backend es un backend desarrollado en Node.js para una aplicación de comercio electrónico especializada en la venta de figuras Funko Pop. Implementa funcionalidades clave como gestión de productos y manejo de pedidos. Utiliza Express para la creación de APIs RESTful, MySQL y Sequelize(ORM) como base de datos para almacenar la información. El proyecto sigue principios de arquitectura limpia y está diseñado para ser escalable y eficiente, facilitando su mantenimiento y expansión."
			githubLink="https://github.com/MarkoTeixido/FunkoshopCaC-Backend"
			liveLink="https://funkoshopcac.vercel.app/"
			/>

		</div>

	</section>

</Layout>
<style>
	.bg-custom{
		background-color: rgb(19, 19, 19);
		border: solid 1px #333;
	}
</style>